*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

header {
  background-color: #dddbd9;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.nav__heading-heading {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav__icon {
  font-size: 3rem;
}

.banner {
  display: flex;
  height: fit-content;
}

.banner__img,
.banner__text-container {
  height: 98vh;
  width: 50%;
}

.banner__img {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__text-container {
  display: flex;
  flex-direction: column;
}

.banner__text {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 4rem;
  background-color: #fff;
}

.banner__text-heading {
  font-size: 6rem;
  line-height: 6.5rem;
  color: #332e29;
  margin-bottom: 4rem;
  font-family: 'Oswald', sans-serif;
}

.banner__text-para {
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.01rem;
  color: #111111;
}

.banner__text-footer {
  height: 30%;
  display: flex;
}

.banner__text-footer-img {
  width: 33.33%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 81% center;
}

.banner__text-footer-img:nth-child(1) {
  background-image: url("../images/pillows.jpg");
}

.banner__text-footer-img:nth-child(2) {
  background-image: url("../images/sea.jpg");
}

.banner__text-footer-img:nth-child(3) {
  background-image: url("../images/chair.jpg");
}

/* tablet responsive design */




.about-us {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: space-between;

}


.info-box {
  height: 50vh;
  width: 31.9%;
  background-color: #fff;
  margin-top: 70px;
  text-align: center;
  align-content: center;
  margin-bottom: 35px;

}


.project {
  justify-content: center;
  width: 40px;
  height: 15%;
  margin-top: 40px;
}

.info-box-heading{
  justify-self: center;
  color: #332e29;
  height: 18%;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800px;
  margin-top: 25px;
  
}

.info-box-para{
  height: 30%;
  font-size: 1.5rem;
  color: #808080;
  word-wrap: break-word;
  font-style: italic;
  margin-top: px;
}

.double-layout {
  display: flex;
  height: fit-content;
  flex-direction: column;
  
}

.top-layout,
.bottom-layout {
  width: 100%;
  
}

.top-layout {
 display: flex; 
}

.bottom-layout {
  display: flex;
}


.text-layout-top {
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  color: #332e29;
  
  
}

.picture-layout-top {
  height: 100%;
  width: 50%;
  background-image: url(../images/cain-chair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
    
}

.picture-layout-bottom,
.picture-layout-top {
height: 60vh;

}

.picture-layout-bottom {
  width: 50%;
  background-image: url(../images/interior-hanger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center; 
  
}
.text-layout-bottom {
  width: 50%;
  height: 100%;
  background-color: #332e29;
  color: white;
  
  
}

.top-text-heading {
  color: #332e29;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif; 
  width: 50%;
  margin-top: 100px;
  margin-left: 35px;
}

.bottom-text-heading {
  color: #dddbd9;
  font-family: 'Oswald', sans-serif; 
  font-size: 3rem;
  width: 50%;
  margin-top: 100px;
  margin-left: 35px;
}

.top-text-para {
  width: 85%;
  color: #111111;
  font-size: 1.6rem;
  
  margin-top: 25px;
  margin-left: 35px;
}

.bottom-text-para {
  width: 85%;
  font-size: 1.5rem;
  margin-top: 25px;
  margin-left: 35px;
}

.life-motto {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.container-motto {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  

}

.motto-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  
}

.new-ideas {
  color: #332e29;
  font-weight: 900;
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  display: block;
  
}

.lorem {
  color: #111111;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.6rem;
  word-wrap: break-word;
  text-align: center;
  margin-top: 25px;
}

.design-ideas {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dddbd9;
}

.container-ideas {
  width: 85%;
  /* height: 93%; */
  display: flex;
  flex-direction: column;

}

.idea-text {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.interior-ideas {
  
}

.interior-design {
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
  color: #332e29;
  font-weight: 900;
  margin: 70px 0 0;

}

.design-pictures {
  display: flex;
  margin-top: 30px;
}



.hiring-ideas {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.top-text-picture,.multi-text-picture {
  display: flex;

}


.interior-advice {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.exterior-picture {
  height: 100vh;
  width: 50%;
  background-image: url(../images/corridor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

}

.text {
 
}

.u-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  width: 80%;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #111111;
  padding: 25px;
}

.sculpture-funiture-picture-1,
.sculpture-funiture-picture-2{
height: 50vh;
width: 50%;
}




.sculpture-funiture-picture-1 {
  background-image: url(../images/faces.jpg);
  background-size: cover;
  background-position: bottom;
  
}

.sculpture-funiture-picture-2 {
  background-image: url(../images/cylindrical-pillow.jpg);
  background-size: cover;
}

.infomation-area {
  height:fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.infomation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.infomation-text {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}

.home-apartment {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.home-heading {
  font-family: Oswald,sans-serif;
  font-size: 6rem;
  text-transform: capitalize;
  color: #332e29;
}

.home-para {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  margin: 20px 0px 15px;
  width: 90%;
  align-self: center;

}

.double-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 65%;
  align-self: center;
}

.double-interior-pics {
 width: 85%;
 align-self: center;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 25px;
 
}

.simple-bedroom-pic,
.advanced-relaxation-chair-design {
  height: 85vh;
  width: 49.1%;
  margin-bottom: 35px;

}

.simple-bedroom-pic {
 background-image: url(../images/room-view.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.advanced-relaxation-chair-design{
  background-image: url(../images/relaxation-chair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.fresh-awesome-section {
 height: fit-content;
 width: 100%;
 display: flex;
 flex-direction: row;
 background-color: #ccbfb1;
 justify-content: center;
 align-items: center;

}

.company-motto {
  width: 85%;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-self: center;
  
}

.awesome-comment,
.fresh-comment {
 width: 48.7%;
 display: flex;
 background-color: #ffffff;
 justify-content: center;
 margin-top: 25px;
 margin-bottom: 25px;
}

.review {
  height: 100%;
  width: 81%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.review-heading {
  color: #332e29;
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  font-weight: 500;
  margin: 33px 0px 0px;
}

.review-para-1 {
  color: #332e29;
  font-family: 'Oswald', sans-serif;
  font-size: 3.6rem;
  text-transform: capitalize;
  margin: 33px 0px 0px;
}


.review-para-2 {
  color: #111111;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  line-height: 2.7rem;
  margin: 32px 0px 33px;
}

.find-us {
  height: 170vh;
  width: 100%;
  background-color: #332e29;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.find-us-container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  
}

.contact-us-form-map {
  width: 100%;
  height: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 73px;
}

.form-box {
  width: 49.2%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-action-box {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;

}
.form-contact-us {
  font-size: 3.6rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  word-wrap: break-word;
  margin: 38px 0px 0px;
}

.contact-us-para {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  line-height: 3rem;
  color: #ffffff;
  margin: 18px 0px 0px;
}

.link {
  text-decoration: none;
  color: #b5e5e6;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  margin: 18px 0px 0px;
}

.form-action-controller {
  padding: 25px 0px 25px 0px;
  color: #ffffff;
  font-size: 1.6rem;
  font-family: open-sans,sans-serif;
  

}

.forms{
  margin-left: 50px;
}


.action {
border-color: 1px solid #b3b3b3;
border-style: solid;
text-transform: capitalize;
padding:13px 0px 13px 0px;
background-color: transparent ; 
font-size: 1.5rem;
margin-bottom: 5px;

}

.s-btn {
  padding: 10px 30px;
  margin: 1px 0px;
  color: #e6e6e6 !important;
  text-transform: uppercase;
  font-family: open-sans,sans-serif;
  font-size: 1.6rem;
  background-color: transparent ;
  border-color: 1px solid #b3b3b3;
  border-style: solid;
  
border: 1px solid crimso}

.google-map {
  width: 49.2%;
  height: 100%;
  overflow: hidden;
}

.footer { 
 height: 33%;
 width: 100%;
 display:flex;
 justify-content: center;
 align-items: center
}

.heading-para-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-para {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.sample-text {
  display: flex;
}

.sample-text-box {
  width: 50%;
  margin-right: 50px;

}

.sample-text-heading {
  font-size: 1.6rem;
  font-family: 'Oswald', sans-serif;
  color: #dddbd9;
  text-transform: capitalize;

}

.sample-text-para {
  color: #ffffff;
  font-size: 1.4rem;
  padding-top: 20px;

}



.heading {
  font-family: "Oswald", sans-serif,

}
 
  
@media screen and (max-width: 80rem) {
  header {
  width: 100%;
  }
    
  .container {
   width: 90%;
   display: flex;
   flex-direction: column;
     
  }
  
  
    
  .banner {
   flex-direction: column;
      
      
  }
  
    
  .banner__img,
  .banner__text-container {
    width: 100%;
    height:  180vh;
      
  }
    
  .about-us {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-between
    
  }

  .info-box {
    height: 57vh ;
    width: 31.9%;
    margin-top: 56px;
    margin-bottom: 9px;
  }
  .project{
  margin-top: 17px;}

  .info-box-heading {
    margin-top: 15px;
  }

  .new-ideas {
    color: #332e29;
    font-size: 37px;
  }


  .interior-design {
    font-size: 4rem;
    margin: 50px 0 0;
  }

  .home-heading {
    font-size: 5rem;
  }

  .home-para {
    font-size: 1.5rem;
  }
  

  .review-heading {
    font-size: 5rem;
    margin: 35px 0px 0px;

  }

  .review-para-1 {
    color: #332e29;
    font-size: 2.6rem;
    margin: 10px 0px 0px;
  }


  .review-para-2 {
    color: #111111;
    font-size: 13px;
    margin: 8px 0px 33px;
  }
  
  .form-contact-us {
    font-size: 3.6rem;
    margin: 19px 0px 0px;

  }  
   
  .contact-us-para {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 11px 0px 0px;
  }

  .link {
    font-size: 1.5rem;
    margin: 13px 0px 0px;
  }

  .form-action-controller {
    padding: 10px 0px 25px 0px
  }

  .form-action-box {
    height: 100%;
  }
   

  .design-pictures {
    flex-direction: column;
    display: flex;
    margin-top: 1.5rem
  }

  .exterior-picture {
    height: 100vh;
    width: 100%;
  }

  .hiring-ideas {
    display: flex;
    flex-direction: column;
    width: 100%;
  }




}

@media screen and (max-width: 40rem) {
  .banner__text-heading {
    font-size: 4.0rem;
    line-height: 6.5rem;
    margin-bottom: 2rem;
  }

  .banner__text-para {
    font-size: 1.4rem;
    
  }

  .banner__text {
    height: 42%;
  }

  .banner__text-footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  

  .banner__text-footer-img {
    width: 100%;
    height: 63vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 81% bottom;
  }

  .banner__text-footer-img:nth-child(3) {
    background-image: url(../images/chair.jpg);
    display: none;
  }

  .banner__text-footer-img:nth-child(2) {
   margin-bottom: 10px; 

  }

  .about-us {
    height: fit-content;
   width: 100%;
   display: flex;
   flex-direction: column;
  }

  .info-box {
    height: 44vh;
    width: 100%;
    margin-top: 5px;
  }

  .double-layout {
    display: flex;
    flex-direction: column;
  }

  .top-layout {
    display: flex;
    flex-direction: column
  }

  .bottom-layout {
    display: flex;
    flex-direction: column;
  }
   
  .text-layout-bottom,
  .text-layout-top {
   width: 100%;
  }
  .picture-layout-bottom,
  .picture-layout-top {
    height: 75vh;
    width: 100%;
  }

  .bottom-text-heading,
  .top-text-heading {
    margin-top: 44px;
    margin-left: 34px;
  }

  .new-ideas {
    color: #332e29;
    font-size: 2rem;
  }  

  .lorem {
    font-size: 1.6rem;
    width: 100%;
  }


  .top-text-picture, .multi-text-picture {
    display: flex;
    flex-direction: column;
  }

  .interior-advice {
    width: 100%;

  }

  .sculpture-funiture-picture-1, .sculpture-funiture-picture-2 {
    height: 75vh;
    width: 100%
  }

  .home-apartment {
    width: 70%;
    height: 30vh;
  }

  .home-heading {
    font-size: 3rem;
    margin-top: 15px;
  }

  .home-para {
    font-size: 1.6rem;
    margin: 0px 0px 6px;
  }

  .double-interior-pics {
    flex-direction: column;
  }

  .simple-bedroom-pic, .advanced-relaxation-chair-design {
    height: 85vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .company-motto {
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    
  }

  .awesome-comment, .fresh-comment {
    width: 100%;
    display: flex
  }

  .awesome-comment{
    margin-top: 15px;
  }

  .fresh-comment {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .find-us {
    height: fit-content;
    width: 100%;
  }

  .find-us-container {
    width: 85%;
    display: flex;
  }

  .contact-us-form-map {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 14px;
  }

  .form-box {
    width: 100%;
    height: 100%;
  }

  .google-map {
    width: 100%;
  }


  .footer {
    height: fit-content;
    width: 100%;
  }

  .heading-para-container {
    width: 100%;
    height: 30vh;
  }

  .sample-text-para {
    padding-top: 12px;
  }
  
  .sample-text-para {
    padding-top: 12px;
    width: 100%
  }

}
